# Pandas

### Задание №1

Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [22]:
import pandas as pd
data = pd.read_csv('/Users/maksim/Downloads/ml-latest-small/ratings.csv')
data

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [40]:
df = data [data['rating'] == 5]
df['movieId'].value_counts().head(1)

318    170
Name: movieId, dtype: int64

### Задание №2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [76]:
data = pd.read_csv('/Users/maksim/Downloads/10/power.csv')
df = data [data['year'].between(2005, 2010) & ((data['country'] == 'Estonia') | (data['country'] == 'Latvia') | (data['country'] == 'Lithuania')) & ((data['category'] == 4) | (data['category'] == 12) | (data['category'] == 21))]
sum_quantity = 0
for quantity in df['quantity']:
    if el >= 0:
        sum_quantity += el
print(sum_quantity)

64938.0

### Задание №3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
www.finanz.ru...om-vremeni

In [21]:
page_url = "https://fortrader.org/quotes"
df = pd.read_html(page_url)
df[1]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,73.79,0.12,0.16,NaN
1,Нефть WTI Цены на нефть WTI,71.98,0.10,0.14,NaN
2,Природный газ Цена на природный газ,3.19,-0.01,-0.22,NaN
3,Кофе,151.15,1.35,0.90,NaN
4,Кукуруза,645.20,-12.40,-1.89,NaN
5,Соя,370.00,-4.10,-1.10,NaN
6,Хлопок,84.72,-0.46,-0.54,NaN